
@{
    ViewBag.Title = "Banner";
}
<div class="slide animation__style10 bg-image--1 fullscreen align__center--left" style="background-image:url(@ViewBag.Banner1)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    <div class="contentbox">
                        <h2>Mua <span>sách </span></h2>
                        <h2>yêu thích <span> của bạn </span></h2>
                        <h2>tại  <span>đây </span></h2>
                        <a class="shopbtn" href="@Url.Action("Shop","Shop")">Tới của hàng ngay bây giờ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slide animation__style10 bg-image--7 fullscreen align__center--left" style="background-image:url(@ViewBag.Banner2)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    <div class="contentbox">
                        <h2>Mua <span>sách </span></h2>
                        <h2>yêu thích <span> của bạn </span></h2>
                        <h2>tại  <span>đây </span></h2>
                        <a class="shopbtn" href="@Url.Action("Shop","Shop")">Tới của hàng ngay bây giờ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slide animation__style10 bg-image--7 fullscreen align__center--left" style="background-image:url(@ViewBag.Banner3)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider__content">
                    <div class="contentbox">
                        <h2>Mua <span>sách </span></h2>
                        <h2>yêu thích <span> của bạn </span></h2>
                        <h2>tại  <span>đây </span></h2>
                        <a class="shopbtn" href="@Url.Action("Shop","Shop")">Tới của hàng ngay bây giờ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>